extends layout

block content
  #error-container
    p LATEST DOWN OR MAINTENANCE EVENTS REPORTED&nbsp;
      span.help ?
        span.popover The first event appears if the service is unavailable for more than a minute. Following events are delayed each time until the service becomes available again.
    span.separator
    p.small Since #{days} days ago | &nbsp;
      if days == 30
        a(href="/events") Show last week
      else
        a(href="/events?days=30") Show last month
  #stats-container
    table
      tr
        th Date
        th Relative Time
        th Service
        th Status
      if events
        if events.length > 0
          each event in events
            - var date = moment(event.date), sdate = date.format('dddd, MMMM DD, YYYY')
            if lastDate != sdate
              tr
                td(class='separator' colspan='4')=sdate
            tr
              td=date.format('MMMM DD, YYYY HH:mm A') + ' UTC'
              td=date.fromNow()
              td=event.service
              td=event.status
            - lastDate = sdate
        else
          tr
            td(class='no-event' colspan='4') No event occurred.
      else
        tr
          td(class='no-event' colspan='4') Error : no data found
